* { box-sizing: border-box; }

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
}

a { text-decoration: none; color: black; }

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background: #f1f1f1;
}

.logo {
  font-weight: bold;
  font-size: 22px;
}

.animation {
    padding-top: 5px;
    max-width: 22px;
    max-height: 25px;
}

nav a {
  margin-left: 20px;
  font-size: 16px;
}

.signin {
  background: #303943;
  color: white;
  padding: 8px 14px;
  border-radius: 4px;
}

/* HERO */
.hero {
  text-align: center;
  padding: 80px 20px;
}

.hero h2 {
  font-size: 36px;
  margin: 0;
}

.hero h1 {
  font-size: 60px;
  margin: 10px 0;
}

.hero p {
  max-width: 600px;
  margin: 0 auto 25px;
  color: #555;
}

.cta-btn {
  background: #303943;
  color: white;
  padding: 12px 22px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.cta-btn:hover {
  opacity: 0.9;
}

/* CAROUSEL SECTION */
.carousel-section {
  padding: 20px 20px;
  text-align: center;
  justify-items: center;
}

.carousel {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  max-width: 1100px;
  margin: auto;
}

.card {
  width: 250px;
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 6px;
}

.card h3 {
  margin-top: 0;
}

.card button {
  margin-top: 10px;
  padding: 8px 12px;
  background: #303943;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.card button:hover {
  opacity: 0.9;
}

.card img {
  width: 100%;
  height: 200px;       
  object-fit: cover;   
  border-radius: 4px;
}

/* NEWSLETTER */
.newsletter {
  padding: 60px 20px;
  text-align: center;
  background: #f9f9f9;
}

.newsletter h2 {
  margin-bottom: 10px;
}

.newsletter p {
  max-width: 600px;
  margin: 0 auto 20px;
}

.newsletter input {
  padding: 10px;
  width: 250px;
  max-width: 80%;
}

.newsletter button {
  padding: 10px 15px;
  background: #303943;
  color: white;
  border: none;
  border-radius: 4px;
}

.newsletter button:hover {
  opacity: 0.9;
}

/* FOOTER */
footer {
  background: #f1f1f1;
  padding: 30px 20px;
  text-align: center;
}

.footer-links {
  margin-bottom: 10px;
}

.footer-links a {
  margin: 0 10px;
  font-size: 14px;
}

@media (max-width: 768px) {
  .hero h1 { font-size: 40px; }
  .hero h2 { font-size: 28px; }
}

@media (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: flex-start;
  }

  nav {
    margin-top: 10px;
  }

  nav a {
    display: block;
    margin: 8px 0;
  }
}